{% extends 'layout.html' %}

{% block body %}

<section style="margin-top: 5%;">
    <main class="px-4 sm:px-6 lg:px-8 z-10">
        <div class="text-center">
            <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-black sm:leading-none underline md:text-6xl" style="font-family: 'Borel', cursive;">
                <span class="text-blue-600 font-bold underline">Moments @ </span> Grobots
            </h2>
        </div>
    </main>
</section>

<section id="lamarts" style="margin-top: 5%;">
    <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-gray-500 sm:leading-none md:text-6xl underline" style="font-family: 'Borel', cursive;">
            La Martiniere Girls College, Lucknow
        </h2>
    </div>
    <div class="grid grid-cols-4 gap-4"> <!-- Adjusted gap -->
        {% for i in range(1, 19) %}
        <div class="flex items-center justify-center">
            <div class="relative" style="width: 300px; height: 300px;"> <!-- Increased size -->
                <img class="object-cover w-full h-full rounded-lg shadow-lg" src="{{ url_for('static', filename='assets/images/empYoungMinds/lamartz/' ~ i ~ '..jpg')}}" alt="{{ i }}" loading="lazy">
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="studyhall" style="margin-top: 5%;">
    <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-gray-500 sm:leading-none md:text-6xl underline" style="font-family: 'Borel', cursive;">
            Study Hall School, Lucknow
        </h2>
    </div>
    <div class="grid grid-cols-4 gap-4"> <!-- Adjusted gap -->
        {% for i in range(1, 13) %}
        <div class="flex items-center justify-center">
            <div class="relative" style="width: 300px; height: 300px;"> <!-- Increased size -->
                <img class="object-cover w-full h-full rounded-lg shadow-lg" src="{{ url_for('static', filename='assets/images/empYoungMinds/studyhall/' ~ i ~ '..jpg')}}" alt="{{ i }}" loading="lazy">
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="gantavya" style="margin-top: 5%;">
    <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-gray-500 sm:leading-none md:text-6xl underline" style="font-family: 'Borel', cursive;">
            Gantavya; A Glimpse
        </h2>
    </div>
    <div class="grid grid-cols-3 gap-4"> <!-- Adjusted gap -->
        {% for i in range(1, 19) %}
        <div class="flex items-center justify-center">
            <div class="relative" style="width: 300px; height: 300px;"> <!-- Increased size -->
                <img class="object-cover w-full h-full rounded-lg shadow-lg" src="{{ url_for('static', filename='assets/images/empYoungMinds/gantavya/' ~ i ~ '..jpg')}}" alt="{{ i }}" loading="lazy">
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="Funmoments" style="margin-top: 5%;">
    <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-gray-500 sm:leading-none md:text-6xl underline" style="font-family: 'Borel', cursive;">
            Behind The Scenes
        </h2>
    </div>
    <div class="grid grid-cols-3 gap-4"> <!-- Adjusted gap -->
        {% for i in range(1, 33) %}
            {% if i not in [31, 29, 30, 21, 4] %}
            <div class="flex items-center justify-center">
                <div class="relative" style="width: 300px; height: 300px;"> <!-- Increased size -->
                    <img class="object-cover w-full h-full rounded-lg shadow-lg" src="{{ url_for('static', filename='assets/images/empYoungMinds/bts/' ~ i ~ '..jpg')}}" alt="{{ i }}" loading="lazy">
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}
