 <section>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
      }

      .marquee {
        overflow: hidden;
      }

      .marquee-content {
        display: flex;
        align-items: center; /* Center images vertically */
        animation: scrolling 10s linear infinite;
      }

      .marquee-item {
        flex: 0 0 auto;
        margin: 0 1vw;
        display: flex;
        align-items: center; /* Center images vertically */
        justify-content: center; /* Center images horizontally */
      }

      .marquee-item img {
        display: block;
        max-height: 25rem; /* Adjust as needed to fit your design */
        width: auto; /* Maintain aspect ratio */
      }

      @keyframes scrolling {
        0% { transform: translateX(0); }
        100% { transform: translateX(-144vw); }
      }
    </style>

    <div class="container mx-auto text-center mt-8">
        <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-black sm:leading-none md:text-6xl" style="margin-bottom: 2rem;">
            <span class="text-indigo-600">Tech</span> Fests
        </h2>
    </div>
    <div class="marquee">
      <div class="marquee-content">
        {% for i in range(1, 15) %}
          <div class="marquee-item">
            <img src="{{ url_for('static', filename='assets/images/Gantavya2024/' ~ i ~ '..jpg') }}" alt="{{ i }}">
          </div>
        {% endfor %}
        {% for i in range(1, 15) %}
          <div class="marquee-item">
            <img src="{{ url_for('static', filename='assets/images/Gantavya2024/' ~ i ~ '..jpg') }}" alt="{{ i }}">
          </div>
        {% endfor %}
      </div>
    </div>
  </section>