{% block body %}
    <!-- Meet the team -->
 
<section id="meettheteam" class="transition-max-height duration-500">
    <!-- component -->
<div id="team" class="section relative pt-20 pb-8 md:pt-16 bg-white dark:bg-gray-800">
  <div class="container xl:max-w-6xl mx-auto px-4">
      <!-- section header -->
      <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">
              <span class="font-light">Our</span> Team
          </h2>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
              <circle cx="50.1" cy="30.4" r="5" class="stroke-primary" style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
              <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
              <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
          </svg>
      </header>
      <!-- end section header -->
    <!-- row -->
<div class="flex flex-wrap flex-row -mx-4 justify-center">
    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Aman Katiyar -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
            <!-- team block -->
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/amankatiyar.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Aman Katiyar">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Aman Katiyar</p>
                <p class="text-gray-500 leading-relaxed font-light">Ex-HOD / Mentor</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Akshat Srivastava -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/akshatsri.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Akshat Srivastava">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Akshat Srivastava</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department, current @ CSE</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Anuj Dubey -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/anuj.png')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Anuj Dubey">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Anuj Dubey</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department, currently @ ECE</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Sanskar Sahai -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/sanskar.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Sanskar Sahai">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Sanskar Sahai</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department, currently @ ECE</p>
            </div>
        </div>
    </div>
</div>
<!-- end row -->


<!-- row -->
<div class="flex flex-wrap flex-row -mx-4 justify-center">
    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Aman Katiyar -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
            <!-- team block -->
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/ishaanmishra-aiml.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Ishaan Mishra">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Ishaan Mishra</p>
                <p class="text-gray-500 leading-relaxed font-light">hod</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Akshat Srivastava -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/himanshu.png')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Akshat Srivastava">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Himanshu</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Anuj Dubey -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/unnati-aiml.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Anuj Dubey">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Unnati Pandey</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Sanskar Sahai -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/harshit.png')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Sanskar Sahai">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Harshit Srivastava</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
    
<!-- row -->
<div class="flex flex-wrap flex-row -mx-4 justify-center">
    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Aman Katiyar -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
            <!-- team block -->
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/tejasvi.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="tejasvi.jpg">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Tejaswi Anand Khare</p>
                <p class="text-gray-500 leading-relaxed font-light">hod</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Akshat Srivastava -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/abhishek.jpeg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="abhishek.jpeg">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Abhishek Kumar</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Anuj Dubey -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/anshika.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Anuj Dubey">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Anshika Patel</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>

    <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
        <!-- Sanskar Sahai -->
        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="relative overflow-hidden px-6">
                <img src="{{ url_for('static', filename='assets/images/team/rudra.jpg')}}" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="Rudra ">
            </div>
            <div class="pt-6 text-center">
                <p class="text-lg leading-normal font-bold mb-1">Rudra Pratap Singh</p>
                <p class="text-gray-500 leading-relaxed font-light">Head of Department</p>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
  
    
  </div>

  
</div>
  </section>


  {% endblock %}